body {
  background-color: #8ac4d0;
  color: black;
}

.App {
  text-align: center;
}

.App-header, .App-breadcrumbs {
  background-color: #28527a;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Movie-List-title {
  flex-wrap: wrap;
  max-width: 15rem;
  height: 4rem;
  justify-self: self-end;
  align-self: baseline;
}

.Movie-List-poster {
  height: 20rem;
}

.Movie-List-section {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}